<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css1/ol.css" />
    <script src="/js1/go.js"></script>
    <script src="https://unpkg.com/locomotive-scroll@4.0.6/dist/locomotive-scroll.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/locomotive-scroll@4.0.6/dist/locomotive-scroll.min.css" />

</head>
<body>
<nav>
    <div class="menu">
        <div class="logo"><a th:href="@{/}">ArtMuse</a></div>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}"></i>About</a></li>
            <li><a th:href="@{/artist}">Our Artists</a></li>
            <li><a th:href="@{/product}">Products</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/login}">Be Our Artist</a></li>
        </ul>
    </div>

</nav>
<br><br>
<div class='scroll-animations-example' data-scroll-container>
    <div class='scrollsection' data-scroll-section>
        <div class='item -normal' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/1.jpg'>
        </div>
        <div class='item -big' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/34.jpeg'>
        </div>
        <div class='item -small -horizontal' data-scroll data-scroll-speed="4">
            <img class='image' src='/img/15.jpg'>
        </div>
        <div class='item -normal' data-scroll data-scroll-speed="3">
            <img class='image' src='/img/10.jpg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/16.jpg'>
        </div>
        <div class='item -big -horizontal' data-scroll data-scroll-speed="4">
            <img class='image' src='/img/123.jpg'>
        </div>
        <div class='item -small' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/17.jpg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/18.jpg'>
        </div>
        <div class='item -small -horizontal' data-scroll data-scroll-speed="3">
            <img class='image' src='/img/5.webp'>
        </div>
        <div class='item -big' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/21.jpg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/7.jpeg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/3.jpeg'>
        </div>
        <div class='item -small' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/23.jpeg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/24.jpeg'>
        </div>
        <div class='item -small -horizontal' data-scroll data-scroll-speed="3">
            <img class='image' src='/img/25.jpeg'>
        </div>
        <div class='item -big' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/26.jpeg'>
        </div>

        <div class='item -normal -horizontal' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/27.jpeg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/28.jpeg'>

        </div>
        <div class='item -small' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/29.jpeg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/30.jpeg'>
        </div>
        <div class='item -small -horizontal' data-scroll data-scroll-speed="3">
            <img class='image' src='/img/31.jpeg'>
        </div>
        <div class='item -big' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/32.jpeg'>
        </div>

        <div class='item -normal -horizontal' data-scroll data-scroll-speed="2">
            <img class='image' src='/img/33.jpeg'>
        </div>
        <div class='item -normal -horizontal' data-scroll data-scroll-speed="1">
            <img class='image' src='/img/34.jpeg'>
        </div>
    </div>
</div>



<script src="/js1/go.js"></script>
<script src="https://unpkg.com/locomotive-scroll@4.0.6/dist/locomotive-scroll.min.js"></script>
</body>
</html>

